.pageup {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    img {
        width: 100%;
    }
}

.fadeIn {
    opacity: 1;
    visibility: visible;
}
@media (max-width: 576px) {
    .pageup {
        width: 30px;
        height: 30px;
        right: 10px;
        bottom: 10px;
    }
}